@font-face {
    font-family: monaco;
    src: url(./font/monaco.ttf)
}
* {
     box-sizing: border-box;    
}
h3.repo {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 14px;
}
body {
    background-color: #fefefe;
    font-family: "Open Sans";
    margin: 0;
}
header.main > div {
    padding-top: 0px;
}
header.main h1, header.main h2 {
    margin: 0;
}
header.main h1 {
    font-size: 20px;
}
header.main h2 {
    color: #35BFAB;
    font-size: 12px;
}
header.main h2 span {
}
.clearfix {
    clear: both;
}
.center {
    display: block;
    margin: 0 auto;
}
img.goblin {
    width: 46px;
    margin-bottom: 30px;
    margin-right: 10px;
    float: left;
}
.build-container {
    /*font-family: monaco;*/
    max-width: 900px;
}
.build-container hgroup {
    background-color: #f7f7f7;
    padding: 15px;
    font-size: 10px;
    cursor: pointer;
    position: relative;
}
.build-container hgroup img.loader {
    margin: auto;
    height: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
}
.build-container hgroup h2 {
    margin: 0 0 5px 0;
    color: #020;
}
.build-container hgroup small {
    font-size: 10px;
    color: #45822F;
}
.build-container hgroup time {
    color: mediumvioletred;
}
.build-container article .body {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    background-color: #252525;
    padding: 20px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-left: 3px solid green;
}
.build-container article.active .body {
    display: block;
}
.build-container article.active hgroup {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    border-bottom-color: #555;
    background-color: #f0f0f0;
}
.build-container hgroup:hover h2, .build-container article.active hgroup h2 {
    color: #375eab;
}
.build-container hgroup:hover {
    border-left: 5px solid #35BFAB;
} 
.build-container article+article {
    margin-top: 10px;
}
.terminal {
    padding-top: 40px;
}
.terminal pre {
    margin: 0;
}
